<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<h1>About this app</h1>
  <h4>
    <p>This is my interview task application for "MassMedia Group" company based in Khmelnytskyi, Ukraine.</p>
  </h4>
</div>