/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "jquery.datetimepicker";
@import "bootstrap-sprockets";
@import "bootstrap";

// drop text down a little bit, because it was under header

body {
  padding-top: 50px;
}

// customize header

.navbar-custom {
  background-color: #2529e5;
  color: #58a2f6;
  border-radius: 0;
}

.navbar-custom .navbar-nav > li > a {
  color:#fff;
}

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  color: #58a2f6;
  background-color: #58a2f6;
}

.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #000fdb;
  color: #ffffff
}

.navbar-custom .navbar-brand {
  color: #fff;
}

.navbar-custom .navbar-toggle {
  background-color:#58a2f6;
}

.navbar-custom .icon-bar {
  background-color: #000fdb;
  color: #818aff;
}

.navbar-default .navbar-brand:hover {
  color: #b5b5b5;
}

// Add distance 'cause after showing error message submit button lands too low

.distance-before-footer {
  padding-bottom: 70px;
}